<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Seja nosso Fornecedor</title>
    <!-- METAS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Alimentos AJA" />
    <meta name="author" content="OK! TI & Design" />
    <!-- END METAS -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous" />
   <!-- Fonts Google -->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <!-- End Fonts Google -->        
        <link rel="stylesheet" href="css/main.css" />
      
        <!-- FAVICON -->
        <link rel="icon" href="img/favicon.png" />
        <!-- END FAVICON -->
</head>

<body>

        <!-- header -->
        <header>
                <div class="container">

                        <div class="row justify-content-end mr-3">

                                <div class="col-lg-9 col-md-4"></div>
                                <!-- top menu (invisible on mobile) -->
                                <div class="col-lg-2 col-md-4 text-right">
                                        <a class="d-none d-lg-block" href="trabalhe.html">Trabalhe Conosco</a>
                                </div>
                                <!-- top menu (invisible on mobile) -->
                                <div class="col-lg-1 col-md-4 text-left">
                                        <a class="d-none d-lg-block" href="#">Fornecedores</a>
                                </div>
                        </div>
                </div>
                <!-- top logo (invisible on mobile) -->
                <a href="index.html>">
                        <img src="img/logo_aja.png" class="logo d-none d-lg-block" alt="" />
                </a>
        </header>
        <!-- end header -->

        <!-- navbar (no mobile)-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">

                <!-- logo menu mobile -->
                <a class="navbar-brand" href="index.html">
                        <img src="img/logo_aja.png" width="50" class="logo d-block d-lg-none" alt="" />
                </a>

                <!-- button menu mobile -->
                <button class="navbar-toggler btn-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <!-- div (menu) -->
                <div class="collapse navbar-collapse" id="navbarNav">
                       
                        <ul id="ul-menu" class="navbar-nav w-100 justify-content-center">
                                
                                <li id="li-first" class="li-menu nav-item menu-enter rounded pl-1 pr-1 pt-4 pb-2 mr-5">
                                        <a class="nav-link  text-white" href="#">
                                                <span class="">Sobre A Aja</span>
                                        </a>
                                </li>
                                <li class="li-menu nav-item rounded pl-1 pr-1 pt-4 pb-2 mr-5">
                                        <a class="nav-link" href="produto.html">
                                                <span class="">Produtos</span>
                                        </a>
                                </li>
                                <li class="li-menu nav-item rounded pl-1 pr-1 pt-4 pb-2 mr-5">
                                        <a class="nav-link" href="#">
                                                <span class="">Blog da Aja</span>
                                        </a>
                                </li>
                                <li class="li-menu nav-item rounded pl-1 pr-1 pt-4 pb-2 mr-5 ">
                                        <a class="nav-link" href="#">
                                                <span class="">S.A.C</span>
                                        </a>
                                </li>
                                <!-- visible (only mobile) -->
                                <li class="nav-item d-block d-lg-none">
                                        <a class="nav-link" href="trabalhe.html">
                                                <span class="">Trabalhe Conosco</span>
                                        </a>
                                </li>
                                <!-- visible (only mobile) -->
                                <li class="nav-item d-block d-lg-none">
                                        <a class="nav-link" href="#">
                                                <span class="">Fornecedores</span>
                                        </a>
                                </li>
                        </ul>

                </div>
                <!-- end div (menu) -->
        </nav>
        <!-- end navbar -->

    <!-- card (flyer) -->
    <section class="card bg-dark text-white">
        <img class="card-img" src="img/topo_fornecedor.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h6 class="text-center col-lg-6 offset-lg-3">Quer ser um fornecedor parceiro da AJA? Faça seu cadastro!</h6>
        </div>
    </section>
    <!-- end card (flyer) -->

    <!-- Mautic Script -->
    <script type="text/javascript">
        /** This section is only needed once per page if manually copying **/
        if (typeof MauticSDKLoaded == 'undefined') {
            var MauticSDKLoaded = true;
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://2ckmarketing.mautic.net/mautic/media/js/mautic-form.js';
            script.onload = function () {
                MauticSDK.onLoad();
            };
            head.appendChild(script);
            var MauticDomain = 'https://2ckmarketing.mautic.net';
            var MauticLang = {
                'submittingMessage': "Por favor, aguarde..."
            }
        }
    </script>
    <!-- End Mautic Script -->

    <!-- main -->
    <main class="bg-stripe-grey">
        
        <!-- container -->
        <div class="container">

            <!-- sub title -->
            <div class="d-none d-md-block">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <h6 class="sub-title-index text-white text-center bg-blue bs-dark">SEJA NOSSO FORNECEDOR</h6>
                    </div>
                </div>
            </div>

            <!-- div form -->
            <div class="col-lg-6 offset-lg-3 pt-4 pb-5">
                <form>
                    <!-- text input -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Razão Social">Razão Social</label>
                            <input type="text" class="form-control" id="Razão Social" name="Razão Social" placeholder="digite sua razão social" required=""/>
                        </div>
                    </div>
                    <!-- text input -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="ramo">Ramo / Atividade</label>
                            <input type="text" class="form-control" id="ramo" name="ramo" placeholder="Seu ramo de atividade" required=""/>
                        </div>
                    </div>
                    <!-- text input -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="digite seu telefone com DDD" required=""/>
                        </div>
                    </div>
                    <!-- text input -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="seu melhor email" required=""/>
                        </div>
                    </div>
                    <!-- file input -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Anexo">Anexo</label>
                            <input type="file" class="form-control-file" id="Anexo" name="Anexo" placeholder="" />
                        </div>
                    </div>
                    <!-- text input -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="assunto">Assunto</label>
                            <input type="text" class="form-control" id="assunto" name="assunto" placeholder="" required=""/>
                        </div>
                    </div>
                    <!-- textarea -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="mensagem">Mensagem</label>
                            <textarea class="form-control" id="mensagem" name="mensagem" rows="3"></textarea>
                        </div>
                    </div>

                    <!-- button -->
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <!-- end div form -->

        </div>
        <!-- end container -->

    </main>
    <!-- end main -->

        <!-- footer -->
    <footer class="container-fluid bg-stripe-blue-black">

        <!-- menu footer -->
        <div class="row justify-content-center">

            <div class="row justify-content-center">

                <div class="col-md-auto col-xs-8 text-center border-right footer-menu-item">
                    <a href="#">
                        <span class=""><strong>Sobre a Aja</strong></span>
                    </a>
                </div>
                <div class="col-md-auto col-xs-8 text-center border-right footer-menu-item">
                    <a href="produto.html">
                        <span class="">Produtos</span>
                    </a>
                </div>
                <div class="col-md-auto col-xs-8  text-center border-right footer-menu-item">
                    <a href="#">
                        <span class="">Blog da Aja</span>
                    </a>
                </div>
                <div class="col-md-auto col-xs-8  text-center border-right footer-menu-item">
                    <a href="#">
                        <span class="">S.A.C</span>
                    </a>
                </div>
                <div class="col-md-auto col-xs-8  text-center border-right footer-menu-item">
                    <a href="trabalhe.html">
                        <span class="">Trabalhe Conosco</span>
                    </a>
                </div>
                <div class="col-md-auto col-xs-8  text-center">
                    <a href="#">
                        <span class="">Fornecedores</span>
                    </a>
                </div>

            </div>

        </div>

        <!-- border -->
        <div  class="row justify-content-center">
            <div class="col-lg-8 col-md-9 col-xs-8 border-footer-line text-center"></div>
        </div> 

        <!-- sign-up -->
        <div class="row justify-content-md-center">
            <div class="col-md-auto bg-meia-lua text-center col-xs-12">
                <h6 class="text-orange-1">Ainda não é cliente?
                    <a class="text-orange-4 h6" href="#" target="_blank">
                        <strong>Cadastre-se!</strong>
                    </a>
                </h6>
            </div>
        </div>

        <!-- address -->
        <div class="row mt-5 ml-footer">

            <div class="media col-md-8 col-lg-4">
                <img class="align-self-start mr-3" src="img/snipet_end.png" alt="Generic placeholder image" />
                <div class="media-body">
                    <address class="mt-0 text-white">
                        Av. dos Estados, 2195
                        <p>Box 50 e 51 / Santo André - SP</p>
                    </address>
                </div>
            </div>

            <div class="media col-md-8 col-lg-4">
                <img class="align-self-start mr-3" src="img/snipet_tel.png" alt="Generic placeholder image" />
                <div class="media-body">
                    <h6 class="mt-0 text-white">Fale Conosco</h6>
                    <address class="text-white">alimentosaja@alimentosaja.com.br
                        <p>(11) 4996-7140</p>
                    </address>
                </div>
            </div>

            <div class="media col-md-8 col-lg-4">
                <img class="align-self-start mr-3" src="img/snipet_face.png" alt="Generic placeholder image" />
                <div class="media-body">
                    <address class="mt-0 text-white">
                        <p>/AlimentosAJA</p>
                    </address>
                </div>
            </div>

        </div>

        <!-- copyright -->
        <div class="container align-items-end text-center col-lg-12">
            <p class="text-white mt-5">Alimentos AJA, © copyright 2018 | Mango Conteúdo | OK!</p>
        </div>



    </footer>
    <!-- end footer -->


        <!-- jQuery-Popper-Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous"></script>
        <!-- JavaScript -->
        <script src="js/main.js"></script>
</body>

</html>